/* ---- Normalize CSS ---- */
html {
  box-sizing: border-box;
  block-size: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

html,
body { inline-size: 100%; }

/* ---- Main Code ---- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 100%;
  padding-block: 2em;
  padding-inline: 1em;
  font: normal 500 1.4rem "Montserrat", sans-serif;
  color: #000;
  background-color: #f2ebe3;
}

.page {
}
.page__title {
  margin-block-end: 1em;
  font-size: 1.8rem;
  text-align: center;
}
.card {
  max-inline-size: 340px;
  margin-block-end: 1em;
  color: #6c7289;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.card__image { inline-size: 100%; }
.card__container { padding: 1.6em; }
.card__label {
  margin-block-end: .7em;
  font-size: 1.3rem;
  letter-spacing: .4em;
  text-transform: uppercase;
}
.card__title {
  margin-block-end: .4em;
  font-size: 3rem;
  color: #000;
}
.card__text {
}
.card__price {
}
.card__value-now {
}
.card__value-before {
}
.card__btn {
}

.page__title,
.card__title,
.card__value-now { font-family: "Fraunces", serif; }

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution__link:link,
.attribution__link:visited { color: #000; }
.attribution__link:hover,
.attribution__link:active { color: #666; }